var app = angular.module('app', ['ngRoute','ngResource']);
app.config(function($routeProvider){
    $routeProvider
        .when('/login',{
            templateUrl: '/views/signin.html',
            controller: 'usersController'
        })
        .when('/signup',{
            templateUrl: '/views/signup.html',
            controller: 'rolesController'
        })
        .otherwise(
            { redirectTo: '/'}
        );
});
