var app = angular.module('app', ['ngRoute','ngResource']);

app.config(function($routeProvider){
    $routeProvider
        .when('/signin',{
            templateUrl: '/views/signin.html',
            controller: 'usersController'
        })
        .when('/signup',{
            templateUrl: '/views/signup.html',
            controller: 'usersController'
        })
        .when('/userDetails',{
            templateUrl: '/views/userDetails.html',
            controller: 'usersController'
        })
        .otherwise(
            { redirectTo: '/'}
        );
});
