 <div style = "margin-left: 380px;  margin-top: -700px">
	<div class="section">
	    <h3>{{headingTitle}}</h3>
	</div>
	<hr></hr>
	
	
	  <form ng-submit="editBookDetails()">
	      <table>
	          <tr>
	              <td width = 170px>Book Name</td>
	              <td><input type="text" ng-model="form.firstName" size="60" /></td>
	          </tr>
	          <tr>
	              <td>Author</td>
	              <td><input type="text" ng-model="form.lastName" size="60" /></td>
	          </tr>
	          <tr>
	              <td>Availability</td>
	              <td><input type="text" ng-model="form.username" size="60" /></td>
	          </tr>
	          <tr>
	              <td>Price</td>
	              <td><input type="password" ng-model="form.password" size="60" /></td>
	          </tr>
	          <tr>
	              <td colspan="2"><input type="submit" value="Submit" /></td>
	          </tr>
	      </table>
	  </form>
	  
	  <div>
	  	<p style=color:red>{{errorMsg}}</p>
	  	<p style=color:green>{{successMsg}}</p>
	  </div>
  </div>