 <div style = "margin-left: 380px;  margin-top: -900px">

     <div>
         <h1 id="tables" style=font-size:20px>Library users</h1>
     </div>
     <hr></hr>
     <div class="bs-component" ng-controller="usersController">
         <table class="table-striped table-hover">
             <thead>
                 <tr>
                     <th width = 100px>Id</th>
                     <th></th>
                     <th width = 200px>First Name</th>
                     <th></th>
                     <th width = 200px>Last Name</th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="user in libraryUsers">
                     <td><a ng-href="#!/userDetails" ng-click="getUserDetails(user.userId)"> {{user.userId}}</a></td>
                     <td></td>
                     <td>{{user.firstName}}</td>
                     <td></td>
                     <td>{{user.lastName}}</td>
                 </tr>
             </tbody>
         </table>
     </div>
 </div>