 <form ng-submit="loginUser()">
      <table>
          <tr>
              <td>User Name</td>
              <td><input type="text" ng-model="form.username" size="60" /></td>
          </tr>
          <tr>
              <td>Password</td>
              <td><input type="password" ng-model="form.password" size="60" /></td>
          <tr>
              <td colspan="2"><input type="submit" value="Submit" /></td>
          </tr>
      </table>
  </form>
  
  <div>
  	<p style=color:red>{{errorMsg}}</p>
  	<p style=color:green>{{successMsg}}</p>
  </div>